<div class="header20">
  <div class="header20--inner">
    <a routerLink="/" class="header20__logo"></a>
    <ul class="header20__list header20__list--middle">
      <li class="header20__list-item header20__list-item--has-dropdown products-dropdown js-dropdown-trigger">
        <div class="btn-header-wrap">
          <a class="routerLink" routerLink="/constructor"><div class="btn-header-custom">Создать карту</div></a>
        </div>
        <!-- <div class="products-wrap">
          <div class="header20__list-dropdown header20__list-dropdown-products">
            <ul class="container">
              <li class="header20__single">
                <a class="link" href="https://craftoak.com/citymap">
                  <div class="header20__image-holder"></div>
                </a>
                <h4 class="header20__list-link">
                  <a class="link" href="https://craftoak.com/citymap"></a><a href="https://craftoak.com/citymap">City
                    Maps</a>
                </h4>
              </li>
              <li class="header20__single">
                <a class="link" href="https://craftoak.com/starmap">
                  <div class="header20__image-holder">
                    <div class="header20__image" style="
                        background-image: url(&#39;/assets/main/banners/products/starmap.png&#39;);
                      "></div>
                  </div>
                </a>
                <h4 class="header20__list-link">
                  <a class="link" href="https://craftoak.com/starmap"></a><a href="https://craftoak.com/starmap">Star
                    Maps</a>
                </h4>
              </li>
              <li class="header20__single">
                <a class="link" href="https://craftoak.com/coordinates">
                  <div class="header20__image-holder">
                    <div class="header20__image" style="
                        background-image: url(&#39;/assets/main/banners/products/coordinates.png&#39;);
                      "></div>
                  </div>
                </a>
                <h4 class="header20__list-link">
                  <a class="link" href="https://craftoak.com/coordinates"></a><a
                    href="https://craftoak.com/coordinates">Coordinates</a>
                </h4>
              </li>
              <li class="header20__single">
                <span class="header20__single-coming">
                  <div class="header20__image-holder">
                    <div class="header20__image" style="
                        background-image: url(&#39;/assets/main/banners/products/travelmap.png&#39;);
                      "></div>
                  </div>
                  <h4 class="header20__list-link">Travel Maps</h4>
                  <div class="coming-soon">Coming Soon</div>
                </span>
              </li>
            </ul>
          </div>
        </div> -->
      </li>
    </ul>
    <div class="header20__list header20--right">
      <ul class="header20__list header20__list--right">
        <li class="header20__menu header20__menu--desk no-mob">
          <span><a routerLink="/checkout">Корзина</a></span>
        </li>
        <li class="header20__menu header20__menu--desk only-mob">
          <a class="nav-mob" routerLink="/checkout">Корзина</a>
        </li>
      </ul>
    </div>
  </div>
</div>