<div
  class="method-credit page-editor country-RU pr-total-qty-load pr-total-qty-0"
>
  <div class="editor main-content">
    <i></i>
    <div class="editor__content">
      <div class="editor__middle stick-side-">
        <div class="poster-12-18 poster" [ngClass]="currentColor === 'white' ? 'poster-whiteBack' : 'poster-blackBack'">
          <style type="text/css">
            .hide-location .starmap-poster-label {
              display: none;
            }
          </style>
          <div
            class="star-url starmap-layout starmap-poster-format- layout- starmap-poster-format-30x40 layout-1 starmap-circular circular"
            style="padding-bottom: 133.362%;"
            [ngStyle]="{'background-color': 'transparent' }">
            <div class="map">
              <div id="celestial-map">
                <canvas width="600" height="600" id="starmap-canvas"></canvas>
                <svg>
                  <path class="outline"></path>
                  <path class="graticule"></path>
                  <path class="graticule_lon"></path>
                  <path class="graticule_lon"></path>
                  <path class="graticule_lon"></path>
                  <path class="graticule_lon"></path>
                  <path class="graticule_lon"></path>
                  <path class="graticule_lon"></path>
                  <path class="graticule_lon"></path>
                  <path class="graticule_lon"></path>
                  <path class="graticule_lon"></path>
                  <path class="graticule_lon"></path>
                  <path class="graticule_lon"></path>
                  <path class="graticule_lon"></path>
                  <path class="graticule_lon"></path>
                  <path class="graticule_lon"></path>
                  <path class="graticule_lon"></path>
                  <path class="graticule_lon"></path>
                  <path class="graticule_lon"></path>
                  <path class="graticule_lon"></path>
                  <path class="graticule_lon"></path>
                  <path class="graticule_lon"></path>
                  <path class="graticule_lon"></path>
                  <path class="graticule_lon"></path>
                  <path class="graticule_lon"></path>
                  <path class="graticule_lon"></path>
                  <path class="graticule_lat"></path>
                  <path class="graticule_lat"></path>
                  <path class="graticule_lat"></path>
                  <path class="graticule_lat"></path>
                  <path class="graticule_lat"></path>
                  <path class="graticule_lat"></path>
                  <path class="graticule_lat"></path>
                  <path class="graticule_lat"></path>
                  <path class="graticule_lat"></path>
                  <path class="graticule_lat"></path>
                  <path class="graticule_lat"></path>
                  <path class="graticule_lat"></path>
                  <path class="graticule_lat"></path>
                  <path class="graticule_lat"></path>
                  <path class="graticule_lat"></path>
                  <path class="graticule_lat"></path>
                  <path class="graticule_lat"></path>
                  <path class="equatorial"></path>
                  <path class="ecliptic"></path>
                  <path class="galactic"></path>
                  <path class="supergalactic"></path>
                  <path class="dso"></path>
                  <path class="dso"></path>
                  <path class="dso"></path>
                  <path class="dso"></path>
                  <path class="dso"></path>
                  <path class="dso"></path>
                  <path class="dso"></path>
                  <path class="dso"></path>
                  <path class="dso"></path>
                  <path class="dso"></path>
                  <path class="dso"></path>
                  <path class="dso"></path>
                  <path class="dso"></path>
                  <path class="dso"></path>
                  <path class="dso"></path>
                  <path class="dso"></path>
                  <path class="dso"></path>
                  <path class="dso"></path>
                  <path class="dso"></path>
                  <path class="dso"></path>
                  <path class="dso"></path>
                  <path class="dso"></path>
                  <path class="dso"></path>
                  <path class="dso"></path>
                  <path class="dso"></path>
                  <path class="dso"></path>
                  <path class="dso"></path>
                  <path class="dso"></path>
                  <path class="dso"></path>
                  <path class="planet"></path>
                  <path class="planet"></path>
                  <path class="planet"></path>
                  <path class="planet"></path>
                  <path class="planet"></path>
                  <path class="planet"></path>
                  <path class="planet"></path>
                  <path class="planet"></path>
                  <path class="planet"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <path class="boundaryline"></path>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <text class="constname"></text>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                  <path class="constline"></path>
                </svg> 
              </div>
            </div>
            <div class="label-container" [ngStyle]="{'color': textColor}">
                <div class="label-title">{{title}}</div>
                <div class="label-sub-container">
                  <div class="label-thin">{{message}}</div>
                  <div class="label-thin">{{subtitle}}</div>
                  <div class="label-thin">{{getFullDate()}}</div>
                  <!-- <div class="label-thin">{{coordinates}}</div> -->
                </div>
            </div>
          </div>
        </div>
        <div class="editor__tools">
          <div class="editor__add no-mob">
            <h3>Всего: <span class="btn-price">{{totalPrice}}р.</span></h3>
            <a (click)="addToCart()" class="action" data-add-poster="starmap"> Оформить заказ </a>
            <div class="editor__shipping">
              Это займет не более 3-х минут
            </div>
          </div>
        </div>
      </div>
      <div class="editor__left">
        <div class="group-wrap">
          <div class="group group-location border-hide-mob">
            <label class="no-mob">Данные</label>
            <div class="field-input">
              <label>Место:</label>
              <input
                type="text"
                class="search-input"
                required="required"
                placeholder="Введите любое местоположение"
                [(ngModel)]="cityToSearch"
                (ngModelChange)="searchCity()"
              />
              <div
                *ngIf="foundCities.length > 0 && foundCities.length < 500"
                [class.show]="foundCities.length > 0 && foundCities.length < 500"
                class="starmap-suggestions suggestions"
                #suggestions
              >
                <div
                  *ngFor="let city of foundCities"
                  data-sugg-country="Россия"
                  data-sugg-title="city.name"
                  data-sugg-subtitle="city.region"
                  data-sugg-lat="city.latitude"
                  data-sugg-long="city.longtitude"
                  class="suggestion"
                  (click)="setCity(city)"
                  (click)="suggestions.classList.remove('show')"
                >
                  <div
                    *ngIf="city.name.length > 1; else regionName"
                  >
                    <b>{{city.name}}</b>, {{city.region}}
                  </div>
                  <ng-template #regionName>
                    <b>{{city.region}}</b>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
          <div class="group group-styles">
            <label>Стиль</label>
            <div class="style-options star-options options">
              <div>
                <div #grid data-starmap="grid" (click)="handleGraticule()" [ngClass]="{'active': mapConfig.lines.graticule.show}">
                  <div class="elements-1">
                    <svg viewBox="0 0 121.56 121.63">
                      <path
                        d="M75,135.92a60.78,60.78,0,1,1,60.78-60.78A60.85,60.85,0,0,1,75,135.92ZM75,17.36a57.78,57.78,0,1,0,57.78,57.78A57.85,57.85,0,0,0,75,17.36Z"
                        transform="translate(-14.19 -14.29)"
                      ></path>
                      <rect x="58.93" y="1.56" width="3" height="118.56"></rect>
                      <rect x="1.5" y="59.34" width="118.56" height="3"></rect>
                      <path
                        d="M75.4,135.75l-1.51-2.59C95.25,120.72,108,99,108,75S95.3,29.34,74,16.88l1.51-2.58C97.75,27.29,111,50,111,75S97.7,122.77,75.4,135.75Z"
                        transform="translate(-14.19 -14.29)"
                      ></path>
                      <path
                        d="M74.62,49.87c-16.82,0-32.46-4.54-44-12.77l1.74-2.45c10.91,7.77,26.33,12.22,42.3,12.22,16.5,0,32.26-4.7,43.24-12.9l1.79,2.41C108.16,45,91.75,49.87,74.62,49.87Z"
                        transform="translate(-14.19 -14.29)"
                      ></path>
                      <path
                        d="M32.35,118.13l-1.8-2.41c11.49-8.57,27.91-13.49,45-13.49,16.83,0,32.47,4.54,44.05,12.77l-1.74,2.45c-10.92-7.77-26.33-12.22-42.31-12.22C59.09,105.23,43.33,109.93,32.35,118.13Z"
                        transform="translate(-14.19 -14.29)"
                      ></path>
                      <path
                        d="M74.42,135.75c-22.22-13-35.48-35.69-35.48-60.69S52.26,27.28,74.56,14.29l1.51,2.6C54.7,29.33,41.94,51.08,41.94,75.06s12.71,45.65,34,58.1Z"
                        transform="translate(-14.19 -14.29)"
                      ></path>
                    </svg>
                  </div>
                </div>
              </div>
              <div>
                <div class="active" #lines data-starmap="lines" (click)="handleConstellations()" [ngClass]="{'active': mapConfig.constellations.lines}">
                  <div class="elements-2">
                    <svg viewBox="0 0 120.8 122.63">
                      <polyline
                        points="9.68 112.95 46.01 99.7 66.34 70.45 111.13 58.12 104.04 9.68 58.34 19.5 63.1 61.31"
                        fill="none"
                        stroke="#000"
                        stroke-miterlimit="10"
                        stroke-width="3"
                      ></polyline>
                      <circle
                        cx="102.95"
                        cy="9.68"
                        r="8.18"
                        fill="#fff"
                        stroke="#000"
                        stroke-miterlimit="10"
                        stroke-width="3"
                      ></circle>
                      <circle
                        cx="111.13"
                        cy="57.58"
                        r="8.18"
                        fill="#fff"
                        stroke="#000"
                        stroke-miterlimit="10"
                        stroke-width="3"
                      ></circle>
                      <circle
                        cx="65.58"
                        cy="69.49"
                        r="8.18"
                        fill="#fff"
                        stroke="#000"
                        stroke-miterlimit="10"
                        stroke-width="3"
                      ></circle>
                      <circle
                        cx="46.13"
                        cy="98.73"
                        r="8.18"
                        fill="#fff"
                        stroke="#000"
                        stroke-miterlimit="10"
                        stroke-width="3"
                      ></circle>
                      <circle
                        cx="9.68"
                        cy="112.95"
                        r="8.18"
                        fill="#fff"
                        stroke="#000"
                        stroke-miterlimit="10"
                        stroke-width="3"
                      ></circle>
                      <circle
                        cx="57.41"
                        cy="17.85"
                        r="8.18"
                        fill="#fff"
                        stroke="#000"
                        stroke-miterlimit="10"
                        stroke-width="3"
                      ></circle>
                    </svg>
                  </div>
                </div>
              </div>
              <div>
                <div #milkyway data-starmap="milkyway" (click)="handleMilkyWay()" [ngClass]="{'active': mapConfig.mw.show}">
                  <div class="elements-3">
                    <svg viewBox="0 0 126.77 105.71">
                      <circle
                        class="hollow"
                        cx="115.99"
                        cy="23.65"
                        r="7.08"
                        fill="#fff"
                      ></circle>
                      <path
                        d="M128.07,54a8.6,8.6,0,0,1-3.1-.58h0a8.54,8.54,0,1,1,3.1.58Zm0-14.16a5.58,5.58,0,0,0-2,10.78h0a5.57,5.57,0,1,0,4-10.4A5.39,5.39,0,0,0,128.07,39.82Z"
                        transform="translate(-12.08 -21.75)"
                      ></path>
                      <circle cx="102.04" cy="40.07" r="7.08"></circle>
                      <circle cx="81.59" cy="73.31" r="7.08"></circle>
                      <circle cx="7.08" cy="98.63" r="7.08"></circle>
                      <circle cx="63.63" cy="63.1" r="7.08"></circle>
                      <circle cx="123.23" cy="4.95" r="3.54"></circle>
                      <circle cx="109.15" cy="3.54" r="3.54"></circle>
                      <circle cx="86.49" cy="32.35" r="3.54"></circle>
                      <circle cx="99.89" cy="65.24" r="3.54"></circle>
                      <circle cx="20.75" cy="65.93" r="3.54"></circle>
                      <circle cx="67.11" cy="37.38" r="3.54"></circle>
                      <circle cx="58.7" cy="49.3" r="3.54"></circle>
                      <circle cx="56.55" cy="80.39" r="3.54"></circle>
                      <circle cx="28.41" cy="52.11" r="7.08"></circle>
                      <circle
                        class="hollow"
                        cx="94.23"
                        cy="15.23"
                        r="7.08"
                        fill="#fff"
                      ></circle>
                      <path
                        d="M106.32,45.56a8.56,8.56,0,0,1-3.1-.58h0a8.58,8.58,0,1,1,11.1-4.91,8.63,8.63,0,0,1-8,5.49Zm0-14.16a5.58,5.58,0,0,0-2,10.78h0a5.58,5.58,0,1,0,4-10.4A5.44,5.44,0,0,0,106.31,31.4Z"
                        transform="translate(-12.08 -21.75)"
                      ></path>
                      <circle
                        class="hollow"
                        cx="80.69"
                        cy="50.22"
                        r="7.08"
                        fill="#fff"
                      ></circle>
                      <path
                        d="M92.76,80.55A8.52,8.52,0,0,1,89.68,80h0a8.57,8.57,0,1,1,3.08.58Zm-2-3.37A5.58,5.58,0,0,0,98,74a5.5,5.5,0,0,0-.1-4.27,5.58,5.58,0,1,0-7.11,7.46Z"
                        transform="translate(-12.08 -21.75)"
                      ></path>
                      <circle
                        class="hollow"
                        cx="41.44"
                        cy="69.69"
                        r="7.08"
                        fill="#fff"
                      ></circle>
                      <path
                        d="M53.52,100a8.6,8.6,0,0,1-3.1-.58h0a8.59,8.59,0,1,1,3.1.58Zm0-14.16a5.56,5.56,0,0,0-2.26.48,5.58,5.58,0,0,0,.24,10.3h0a5.58,5.58,0,1,0,4-10.4A5.6,5.6,0,0,0,53.52,85.86Z"
                        transform="translate(-12.08 -21.75)"
                      ></path>
                      <circle
                        class="hollow"
                        cx="23.6"
                        cy="85.56"
                        r="7.08"
                        fill="#fff"
                      ></circle>
                      <path
                        d="M35.67,115.89a8.63,8.63,0,0,1-3.09-.58h0a8.57,8.57,0,1,1,3.09.58Zm-2-3.38a5.58,5.58,0,0,0,7.11-7.46,5.58,5.58,0,0,0-10.3.24,5.59,5.59,0,0,0,3.19,7.22Z"
                        transform="translate(-12.08 -21.75)"
                      ></path>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
            <div class="style-options options starmap-options" data-single="">
              <div (click)="setTemplate('black')" (click)="textColor='white'">
                <div
                  class="level-1"
                >
                  <div style="background-color: #000"></div>
                </div>
              </div>
              <div (click)="setTemplate('white')" (click)="textColor='black'">
                <div
                  class="level-1"
                >
                  <div style="background-color: #fff"></div>
                </div>
              </div>
              
            </div>
          </div>
          <div class="group group-labels border-mob-only">
            <label class="only-mob">Данные</label>
            <div class="field-date">
              <div class="date-inputs">
                <input
                  data-starmap-input-date=""
                  name="day"
                  class="date-input-1"
                  placeholder="День"
                  type="number"
                  value="14"
                  min="1"
                  max="31"
                  [(ngModel)] = "day"
                  (ngModelChange)="changeDate()"
                />
                <select
                  data-starmap-input-date=""
                  name="month"
                  class="date-input-2"
                  [(ngModel)] = "month"
                  (ngModelChange)="changeDate()"
                  placeholder = "Месяц"
                >
                  <option value="1">Январь</option>
                  <option value="2">Февраль</option>
                  <option value="3">Март</option>
                  <option value="4">Апрель</option>
                  <option value="5">Май</option>
                  <option value="6">Июнь</option>
                  <option value="7">Июль</option>
                  <option value="8">Август</option>
                  <option value="9">Сентябрь</option>
                  <option value="10">Октябрь</option>
                  <option value="11">Ноябрь</option>
                  <option value="12">Декабрь</option>
                </select>
                <input
                  data-starmap-input-date=""
                  name="year"
                  class="date-input-3"
                  placeholder="Год"
                  type="number"
                  min="1000"
                  max="9999"
                  [(ngModel)] = "year"
                  (ngModelChange)="changeDate()"
                />
              </div>
            </div>
            <div class="field-date time-section">
              <select
                  data-starmap-input-date=""
                  name="hour"
                  class="date-input-2 hours"
                  [(ngModel)] = "hour"
                  (ngModelChange)="changeDate()"
                  placeholder = "Месяц"
                >
                <option *ngFor="let num of counter(24); let i = index" value={{i}}>{{i < 10 ? '0' + i.toString() : i}}</option>
                </select>
                <select
                  data-starmap-input-date=""
                  name="minutes"
                  class="date-input-2 minutes"
                  [(ngModel)] = "minutes"
                  (ngModelChange)="changeDate()"
                  placeholder = "Месяц"
                >
                  <option *ngFor="let num of counter(60); let i = index" value={{i}}>{{i < 10 ? '0' + i.toString() : i}}</option>
                </select>
                <button class="time-btn" (click)="setShowTime(!showTime)">{{showTime ? 'Отключить' : 'Включить'}}</button>
            </div> 
            <div class="field-input title-area">
              <label> Заголовок: </label>
              <textarea
                class="offset-input area"
                data-clean-chars=""
                data-starmap-input=""
                name="title"
                type="text"
                [(ngModel)] = "title"
              >
              </textarea>
            </div>
            <div class="field-input">
              <!-- <label> Сообщение: </label> -->
              <input
                class="starmap-textarea offset-input"
                data-clean-chars=""
                data-update-length=""
                data-starmap-input=""
                name="text"
                placeholder="Написанное звёздами"
                [(ngModel)] = "message"
              />
            </div>
            <div class="field-input">
              <!-- <label> Подзаголовок: </label> -->
              <input
                class="offset-input"
                data-clean-chars=""
                data-starmap-input=""
                name="subtitle"
                type="text"
                [(ngModel)] = "subtitle"
              />
            </div>
            <div class="field-input">
              <!-- <label> Координаты: </label> -->
              <input
                class="offset-input"
                data-clean-chars=""
                data-starmap-input=""
                name="tagline"
                type="text"
                [(ngModel)] = "fullDate"
              />
              <!-- <button class="coord-btn" (click)="setShowCoordinates(!showCoordinates)">{{showCoordinates ? 'Отключить' : 'Включить'}}</button> -->
            </div>
            <div class="link-wrap">
              <a class="action" href="https://www.instagram.com/atlas.stars/" data-add-poster="starmap"> Какую фразу выбрать? </a>
            </div>
          </div>
          <div class="group group-size">
            <label>Размер</label>
            <div class="editor-btns editor-btns--small editor-btns--fourth">
              <div>
                <div
                  data-starmap="format"
                  data-format-price-usd="49"
                  data-format-price-eur="39"
                  data-format-price-gbp="49"
                  data-format-price-cad="69"
                  data-format-price-aud="69"
                  data-pdf-format-price-usd="15"
                  data-pdf-format-price-eur="10"
                  data-pdf-format-price-gbp="15"
                  data-pdf-format-price-cad="20"
                  data-pdf-format-price-aud="20"
                  data-units="imperial"
                  data-value="12x18"
                  data-default-format="12 x 18 inches"
                  class=""
                  id="21x30"
                  (click)="size='21x30'"
                  (click)="getCartAndUpdateSize()"
                  [ngClass]="size === '21x30' ? 'active' : ''"
                >
                  <span class="format-btn-size">21 × 30</span>
                  <span class="format-btn-units">см</span>
                </div>
              </div>
              <div>
                <div
                  data-starmap="format"
                  data-format-price-usd="59"
                  data-format-price-eur="49"
                  data-format-price-gbp="59"
                  data-format-price-cad="79"
                  data-format-price-aud="79"
                  data-pdf-format-price-usd="20"
                  data-pdf-format-price-eur="15"
                  data-pdf-format-price-gbp="20"
                  data-pdf-format-price-cad="25"
                  data-pdf-format-price-aud="25"
                  data-units="imperial"
                  data-value="18x24"
                  data-default-format="12 x 18 inches"
                  class=""
                  id="30x40"
                  (click)="size='30x40'"
                  (click)="getCartAndUpdateSize()"
                  [ngClass]="size === '30x40' ? 'active' : ''"
                >
                  <span class="format-btn-size">30 × 40</span>
                  <span class="format-btn-units">см</span>
                </div>
              </div>
              <div>
                <div
                  data-starmap="format"
                  data-format-price-usd="49"
                  data-format-price-eur="39"
                  data-format-price-gbp="49"
                  data-format-price-cad="69"
                  data-format-price-aud="69"
                  data-pdf-format-price-usd="15"
                  data-pdf-format-price-eur="10"
                  data-pdf-format-price-gbp="10"
                  data-pdf-format-price-cad="20"
                  data-pdf-format-price-aud="20"
                  data-units="metric"
                  data-value="30x40"
                  data-default-format="12 x 18 inches"
                  id="40x50"
                  (click)="size='40x50'"
                  (click)="getCartAndUpdateSize()"
                  [ngClass]="size === '40x50' ? 'active' : ''"
                >
                  <span class="format-btn-size">40 × 50</span>
                  <span class="format-btn-units">см</span>
                </div>
              </div>
              <div>
                <div
                  data-starmap="format"
                  data-format-price-usd="59"
                  data-format-price-eur="49"
                  data-format-price-gbp="59"
                  data-format-price-cad="79"
                  data-format-price-aud="79"
                  data-pdf-format-price-usd="20"
                  data-pdf-format-price-eur="15"
                  data-pdf-format-price-gbp="20"
                  data-pdf-format-price-cad="25"
                  data-pdf-format-price-aud="25"
                  data-units="metric"
                  data-value="50x70"
                  data-default-format="12 x 18 inches"
                  id="50x70"
                  (click)="size='50x70'"
                  (click)="getCartAndUpdateSize()"
                  [ngClass]="size === '50x70' ? 'active' : ''"
                >
                  <span class="format-btn-size">50 × 70</span>
                  <span class="format-btn-units">см</span>
                </div>
              </div>
            </div>
          </div>
          <div class="group group-buttons">
            <div class="editor-btns-large">
              <div>
                <div [ngClass]="orderType === 'print' ? 'active' : ''" id="print" (click)="setOrderType('print')" data-starmap="type" data-value="print">
                  Печать
                </div>
              </div>
              <div>
                <div [ngClass]="orderType === 'pdf-only' ? 'active' : ''" id="pdf-only" (click)="setOrderType('pdf-only')" data-starmap="type" data-value="pdf">только PDF</div>
              </div>
            </div>
          </div>
          <div class="group group-add-to-cart only-mob">
            <h3>Всего: <span class="btn-price">{{totalPrice}}р.</span></h3>
            <a class="action" (click)="addToCart()" data-add-poster="starmap"> Оформить заказ </a>
          </div>
        </div>
      </div>
      <div class="editor__right no-mob">
        <h1 class="no-mob">Звёздная карта</h1>
        <b>О карте</b>
        <p class="intro no-mob">
          Звёздная карта — постер с точным расположением звёзд над вашим городом
          в выбранные вами дату и время. Cохраните особенный момент в стильном
          подарке для себя или близких. Основной источник данных — Йельский
          каталог ярких звёзд.
        </p>
        <div class="specs">
          <div class="specs-left">
            <b>Качество печати</b>
            <p>
              Высококачественная цифровая печать на матовой бумаге премиум
              качества
            </p>
            <b>Комплектация</b>
            <p>
              - Постер на матовой бумаге <br />
              - Объёмная рама классического дизайна <br />
              - Фирменная защитная упаковка
            </p>
            <b>Как мы это делаем</b>
            <p>
              Мы используем базу данных, основным источником данных для которой
              является Йельский каталог ярких звёзд. По такому же принципу
              работает большинство онлайн-планетариев в Интернете
            </p>
            <b>Рекомендации по использованию</b>
            <p>
              Дарить с любовью и не подвергать воздействию прямых солнечных
              лучей
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
